<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test thread-count="5" name="AddRemoveItemBasketTest">
    <classes>
      <class name="roi.live.project.AddRemoveItemBasketTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="OrderCompleteTest">
    <classes>
      <class name="roi.live.project.OrderCompleteTest"/>
    </classes>
  </test> <!-- Test -->  
</suite> <!-- Suite -->

<!-- <parallel="tests" thread-count="2"> -->
